@import url(fonts.css);

*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    max-height: 800px;
    min-width: 320px;
}

img{
    max-width: 100%;
}

.bodySobre
{
    background: url(Pictures/Background\ 7M2\ Sobre.jpeg) center center no-repeat fixed;
    background-size: cover;
    color: rgb(218, 218, 218);
    font-size: 35px;
}

.bodyCont
{
    background: -webkit-gradient(linear, left top, right top, from(rgb(63, 63, 63)), to(rgb(163, 163, 163)));
    color: white;
    font-size: 35px;
}

.bodyCurio
{
    background: -webkit-gradient(linear, left top, right top, from(rgb(177, 129, 74)), to(rgb(95, 32, 32)));
}

.bodyGeo
{
    background: -webkit-gradient(linear, left top, right top, from(rgb(91, 129, 74)), to(rgb(177, 129, 74)));
    font-size: 30px;
}

.bodyCiencias
{
    background: -webkit-gradient(linear, left top, right top, from(rgb(0,0,205)), to(rgb(177, 129, 74)));
    font-family: Raleway;
}

.bodyCiencias h1 {
    font-size: 4em;
}

.bodyCiencias h2 {
    font-size: 3em;
}

.bodyCiencias p {
    font-size: 2em;
}

.bodyCiencias img {
    width: 700px;
    height: 400px;
}

h1, h2, p
{
    padding: 20px;
    line-height: 170%;
}

.bodyGeo h1, h2, p
{
    font-family: JS;
}

.margin
{
    margin: 20px;
}


.bodyCurio h1, h2
{
    font-family: "CL";
}

.bodyCurio h1
{
    font-size: 70px;
}

.bodyCurio h2
{
    font-size: 65px;
}

.bodyCurio p
{
    font-family: "CaviarDreams";
    font-size: 30px;
}

.container
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a
{
    text-decoration: none;
}

a:link
{
    color: rgb(190, 194, 255);
}

a:hover{
    color: black;
}


.sobre
{
    border-radius: 76px;
    background: #646464;
    box-shadow:  -18px -18px 44px #575757,
                18px 18px 44px #ffffff;
    padding: 20px;
    margin: auto;
    font-family: 'Raleway';
}

.bodyCult
{
    background: -webkit-gradient(linear, left top, right top, from(rgb(100, 168, 100)), to(rgb(168, 168, 100)));
    font-size: 25px;
}

.bodyCult h1
{
    font-family: Milgran;
}

.bodyCronol
{
    background: rgb(159, 159, 159);
}

@media screen and (max-height: 800px) {
    .bodyCurio h1, h2
    {
        font-family: CLI;
    }
    .bodyCurio h1
    {
        font-size: 50px;
    }

    .bodyCurio h2
    {
        font-size: 45px;
    }

    .bodyCurio p
    {
        font-family: "CaviarDreams";
        font-size: 25px;
    }

    .bodySobre
    {
        font-size: 20px;
    }

    .bodyCont
    {
        font-size: 25px;
    }

    .bodyGeo h1, h2, p
    {
        line-height: 150%;
        padding: 15px;
    }

    .bodyGeo h1
    {
        padding: 20px;
        font-size: 50px;
    }

    .bodyGeo h2
    {
        font-size: 40px;
    }

    .bodyGeo p
    {
        font-size: 20px;
    }

    img
    {
        width: 100%;
    }
}
